<h1>{{post.title}}</h1>

<img src="{{post.pictureUrl}}">
<p>{{post.description}}</p>
<p><a href="{{post._id}}/retweet">Tweet Your Officials</a></p>
<p class="lat-input">{{post.coordinates.[0]}}</p>
<p class="lng-input">{{post.coordinates.[1]}}</p>

<a href="{{post._id}}/delete">Delete Post and Tweet</a>
<div class="my-single-post-map"></div>


<script src='/javascripts/script-single-user-post.js'></script>