<h3>{{post.title}}
</h3>


<img class="single-post-img" src="{{post.pictureUrl}}">
<div class="my-single-post-map"></div>

<div class="single-post-bottom">
  <p class="single-post-descr">{{post.description}}
  </p>
  <div class="delete-post-container">
    <a class="delete-post" href="{{post._id}}/delete">
      <button class="button is-danger">
        Delete Post
      </button>
    </a>
    <div class="notification">
      If you delete this post, the tweet that was sent with it will also be deleted.
    </div>

  </div>
<<<<<<< HEAD
  <p>
    <a href="{{post._id}}/retweet">
      <button class="button is-link">
        Tweet Your Officials
      </button>
    </a>
  </p>
=======

  <div class="tweet-post-container">
    <a class="tweet-post" href="{{post._id}}/retweet">
      <button class="button is-info">
        Tweet Your Officials
      </button>
    </a>
    <div class="notification">
     Available for USA-based posts only.
    </div>
  </div>


>>>>>>> d2acdb3062c64340775eee820444330206aef9b8
</div>

<p class="lat-input">{{post.coordinates.[0]}}</p>
<p class="lng-input">{{post.coordinates.[1]}}</p>



<script src='/javascripts/script-single-user-post.js'></script>