<h1>your involvement, on a page.</h1>
<h2>
    Notice something around you worth improving?
    <a href="/user/home/post">Add a post</a> and make it count!
</h2>
<div id="user-home" class="my-user-home-map"></div>
<ul class="user-home-ul">
    {{#each postList}}
    <li>
        <h6>
            <a class="user-home-title" href="/user/home/post/{{this._id}}">{{this.title}}
                <h5>(click on this link to view post detail)</h5>
            </a>
        </h6>
        <img class="user-home-img" src="{{this.pictureUrl}}">
        <div class="user-each-post-map" data-lat="{{this.coordinates.[0]}}" data-lng="{{this.coordinates.[1]}}"></div>
    </li>

    {{/each}}
</ul>

<script src='/javascripts/script-user-home.js'></script>